/* =========================
   NAVBAR
========================= */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 30px;
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;
}

.navbar .logo {
    font-size: 22px;
    font-weight: 600;
    color: #111827;
}

/* RIGHT SIDE NAVBAR */
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* PROFILE MINI */
.admin-mini {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #111827;
    font-weight: 500;
}

.admin-foto {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

/* BUTTON */
.btn-primary {
    padding: 8px 14px;
    background: #2563eb;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}

.btn-logout {
    padding: 8px 14px;
    background: #ef4444;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
}

.theme-toggle {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}
